.storybook-color-graph-box {
  width: 10em;
  height: 10em;
  border: 1px solid black;
}

.storybook-color-graph-container {
  display: flex;
  align-items: center;
  justifyContent: center;
  flex-direction: column;
  gap: 10px
}

.storybook-color-graph-sliderbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
